.container {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 25%;
    top: 30%; 
    
  }


  body {
    height: 100vh;

  }

  svg {


    
    height: 20%;
    width: 20%;
  

  }
  